.data__link {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--color-fill);
  background-color: transparent;
  font-size: 18px;
  line-height: 121%;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  cursor: default;
}

.data__link:hover {
  color: var(--color-data-link);
  cursor: pointer;
}
