.popup__submit-btn {
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 21px;
  font-size: 18px;
  line-height: 121%;
  width: 100%;
  height: 50px;
  color: var(--color-fill);
  background-color: var(--color-ground);
  border-radius: 2px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s linear;
  user-select: none;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}

@media (max-width: 618px) {
  .popup__submit-btn {
    height: 46px;
    font-size: 14px;
    margin-top: 32px;
  }
}
