.data__input-text {
  display: block;
  font-size: 14px;
  line-height: 121%;
  font-weight: 400;
  min-width: 100%;
  height: 27px;
  border: none;
  border-bottom: 2px solid var(--color-data-hold);
  color: var(--color-fill);
  background-color: transparent;
  padding: 0;
  padding-bottom: 6px;
  box-sizing: border-box;
  margin: 0;
}

.data__input-text::placeholder {
  color: var(--color-data-hold);
}

.data__input-text:first-child {
  margin-top: 30px;
}

.data__input-text:focus {
  border: none;
}
